@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #00ADB5;
  --color-secondary: #007CFF;
  --color-accent: #1E1E1E;
}
.active {
     @apply text-primary font-semibold border-b-2 border-primary;
}

@layer utilities {
  .fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
